:root {
  --green: #16a085;
  --black: #444;
  --light-color: #777;
  --box-shadow: .5rem .5rem 0 rgba(22, 160, 133, .2);
  --text-shadow: .4rem .4rem 0 rgba(0, 0, 0, .2);
  --border: .2rem solid var(--green);
}

body {
  overflow-x: hidden;
}

header nav .logo-img {
  width: 0.25rem !important;
  height: 0.25rem !important;
}

.home-page-1 .row .text .btn {
  margin-left: 50%;
}

.about .content .box {
  margin: 1rem 0;
}

.about .content .box a {
  text-decoration: none;
}

.about .content .box a h3 {
  font-size: 2.5rem;
  color: black;
}

.about .content .box a h3 i {
  padding: 0 1rem;
  color: blue;
}

.about .content .box p {
  font-size: 1rem;
  padding-left: 4rem;
  color: #666;
}

.about-us {
  background: #eee;
}

.about-us .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: .5rem;
}

.about-us .row .img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 45rem;
          flex: 1 1 45rem;
}

.about-us .row .img img {
  width: 100%;
}

.about-us .row .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 45rem;
          flex: 1 1 45rem;
}

.about-us .row .content h3 {
  text-align: center;
  color: black;
  text-shadow: wheat;
  font-size: 3rem;
  line-height: 1.8;
}

.about-us .row .content p {
  text-align: left;
  color: var(--light-color);
  padding: .5rem 0;
  font-size: 1rem;
  line-height: 1.8;
}

.about-us .row .content .btn {
  display: inline-block;
  margin-top: 1rem;
  padding: .5rem;
  padding-left: 1rem;
  border: var(--border);
  border-radius: .5rem;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  color: var(--green);
  cursor: pointer;
  font-size: 1.7rem;
  background: #fff;
}

.about-us .row .content .btn span {
  padding: .7rem 1rem;
  border-radius: .5rem;
  background: var(--green);
  color: #fff;
  margin-left: .5rem;
}

.about-us .row .content .btn:hover {
  background: gainsboro;
  color: #fff;
}

.about-us .row .content .btn:hover span {
  color: var(--green);
  background: #fff;
  margin-left: 1rem;
}

.specialists .containers {
  width: 68%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.specialists .containers article {
  width: 17rem;
  background-color: #fff;
  border-radius: 1rem;
  -webkit-box-shadow: 0 1.5rem 1.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1.5rem 1.5rem rgba(0, 0, 0, 0.1);
  position: relative;
  -webkit-transition: all 700ms ease;
  transition: all 700ms ease;
}

.specialists .containers article:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.specialists .containers article:hover .specialist-img::before {
  left: 0;
  border-radius: 1rem;
}

.specialists .containers article:hover .specialist-socials {
  opacity: 1;
  visibility: visible;
}

.specialists .containers article:hover .specialist-watsapp {
  opacity: 1;
  visibility: visible;
}

.specialists .containers article .specialist-img {
  height: 20rem;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}

.specialists .containers article .specialist-img::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  background: linear-gradient(135deg, rgba(0, 0, 255, 0.8), rgba(143, 143, 241, 0.8));
  border-radius: 50%;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.specialists .containers article .specialist-details {
  margin: 1.5rem 0;
  text-align: center;
}

.specialists .containers article .specialist-socials {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  top: 1.2rem;
  right: 1.2rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 1s 400ms ease;
  transition: all 1s 400ms ease;
}

.specialists .containers article a {
  text-decoration: none;
  background: white;
  color: blue;
  padding: .4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.8rem;
  border-radius: 50%;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.specialists .containers article a:hover {
  background: blue;
  color: white;
}

.specialists .containers article .specialist-watsapp {
  color: white;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  bottom: 30%;
  padding: 1rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  visibility: 0;
  -webkit-transition: all 1s 400ms ease;
  transition: all 1s 400ms ease;
}

.home .content h1 {
  font-size: 4rem;
  color: #666;
}

.home .content h3 {
  font-size: 3rem;
  color: #666;
}

.home .content .button {
  height: 3.5rem;
  width: 15rem;
  background: blue;
  color: #fff;
  border-radius: .5rem;
  margin: 1rem 0;
  font-size: 1.7rem;
  text-transform: capitalize;
  cursor: pointer;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.home .content .button::before {
  content: '';
  position: absolute;
  top: -100%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  z-index: -1;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.home .content .button:hover:before {
  top: 0%;
}

.home .content .button:hover {
  -webkit-box-shadow: 0.1rem 0.5rem blue 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
          box-shadow: 0.1rem 0.5rem blue 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
}

.review {
  background: url(img/Slide/Slide-6.jpg), -webkit-gradient(linear, left top, left bottom, from(#666), to(#666)) no-repeat;
  background: url(img/Slide/Slide-6.jpg), linear-gradient(#666, #666) no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
}

.review .heading {
  padding-top: 7rem;
  color: #fff;
}

.review .box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 5rem;
}

.review .box-container .box {
  background: #fff;
  width: 20rem;
  margin: 5rem 1rem;
  padding: 1.5rem;
  position: relative;
  border-bottom-left-radius: 8px;
}

.review .box-container .box img {
  position: absolute;
  bottom: -7rem;
  left: -1rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.review .box-container .box p {
  font-size: 1rem;
  color: #666;
}

.review .box-container .box h3 {
  font-size: 2rem;
  text-align: end;
  color: blue;
}

.review .box-container .box span {
  text-align: end;
  color: black;
  display: block;
  font-size: 1rem;
}

.review .box-container .box::before {
  content: '';
  position: absolute;
  bottom: -.5rem;
  left: 0.34rem;
  height: 1.5rem;
  width: 1.5rem;
  background: #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.revie {
  background: url(img/Slide/Slide-7.jpg), -webkit-gradient(linear, left top, left bottom, from(#ccc9c9), to(#666)) no-repeat;
  background: url(img/Slide/Slide-7.jpg), linear-gradient(#ccc9c9, #666) no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
}

.revie .heading {
  padding-top: 7rem;
  color: #fff;
}

.Counter .box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2rem 0;
}

.Counter .box-container .box {
  margin: 2rem 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Counter .box-container .box i {
  text-align: center;
  color: blue;
  font-size: 4rem;
}

.Counter .box-container .box span {
  color: darkblue;
  font-size: 2rem;
  display: block;
  text-align: center;
  padding: 1rem 0;
}

.Counter .box-container .box h3 {
  color: #666;
}

.make-appointment .content h1 {
  font-size: 3rem;
  color: #666;
}

.make-appointment .content h3 {
  font-size: 1rem;
  color: #666;
}

.make-appointment .content .button {
  height: 3.5rem;
  width: 15rem;
  background: blue;
  color: #fff;
  border-radius: .5rem;
  margin: 1rem 0;
  font-size: 1.7rem;
  text-transform: capitalize;
  cursor: pointer;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.make-appointment .content .button::before {
  content: '';
  position: absolute;
  top: -100%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  z-index: -1;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.make-appointment .content .button:hover:before {
  top: 0%;
}

.make-appointment .content .button:hover {
  -webkit-box-shadow: 0.1rem 0.5rem blue 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
          box-shadow: 0.1rem 0.5rem blue 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
}

.post .container-fluid .heading {
  padding-top: 7rem;
  color: #2c2929;
}

.post .container-fluid .box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.post .container-fluid .box-container .box {
  width: 25rem;
  margin: 2rem 1rem;
  overflow: hidden;
  border-radius: .5rem;
  -webkit-box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
}

.post .container-fluid .box-container .box img {
  width: 100%;
  height: 16rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.post .container-fluid .box-container .box .content {
  padding: 0 1.5rem;
}

.post .container-fluid .box-container .box .content span {
  color: #666;
  font-size: 1.5rem;
  display: block;
  padding: 1rem 0;
}

.post .container-fluid .box-container .box .content a {
  text-decoration: none;
}

.post .container-fluid .box-container .box .content a h3 {
  font-size: 1.5rem;
  color: black;
}

.post .container-fluid .box-container .box .content p {
  font-size: 1rem;
  color: black;
}

.post .container-fluid .box-container .box .content:hover a h3 {
  color: blue;
}

.post .container-fluid .box-container .box .content .btn .button {
  height: 3.5rem;
  width: 10rem;
  background: #e6e6eb;
  color: #fff;
  border-radius: .5rem;
  margin: 1rem 0;
  font-size: 1.7rem;
  text-transform: capitalize;
  cursor: pointer;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.post .container-fluid .box-container .box .content .btn .button::before {
  content: '';
  position: absolute;
  top: -100%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  z-index: -1;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.post .container-fluid .box-container .box .content .btn .button:hover:before {
  top: 0%;
}

.post .container-fluid .box-container .box .content .btn .button:hover {
  -webkit-box-shadow: 0.1rem 0.5rem cornsilk 0 0.3rem 0.5rem rgba(212, 209, 209, 0.3);
          box-shadow: 0.1rem 0.5rem cornsilk 0 0.3rem 0.5rem rgba(212, 209, 209, 0.3);
}
/*# sourceMappingURL=01_mainPageStyle.css.map */